@model BookStore.Models.Entities.User

@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/User/_LayOut_User.cshtml";
    string[] gender = new string[] { "Khác", "Nam", "Nữ" };
}

@*<style>
        td {
            border-color:white;
        }
    </style>*@

<div style="font-size: 19px; line-height: 21px; font-weight: 300; margin: 15px 0px 15px;">Thông tin tài khoản </div>

<div class="container" style="margin-top:42px">
    <form action="" method="post">
        <div class="row">
            <div class="col-lg-2">
                <h4>Họ và tên</h4>
            </div>
            <div class="col-6">
                <input type="text" name="fullname" class="form-control" id="name" placeholder="Họ Và Tên" value="@Model.Fullname">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <h4>Ngày sinh</h4>
            </div>
            <div class="col-6">
                <input name="birthday" type="date" class="form-control" placeholder="Ngày sinh " value="@Model.Birthday" />
            </div>
        </div>

        <div class="row" style="margin-top:20px">
            <div class="col-lg-2">
                <h4>Email</h4>
            </div>

            <div class="col-6">
                <input name="email" type="email" class="form-control" placeholder="Email " value="@Model.Email" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <h4>Giới tính</h4>
            </div>
            <div class="col-6">
                
                <select name="gender" class="form-control">
                    @foreach (var item in gender)
                    {
                        if (item.Equals(Model.Gender))
                        {
                            <option value="@item" selected>@item</option>
                        }
                        else
                        {
                            <option value="@item">@item</option>
                        }
                    }
                </select>
            </div>
        </div>
        <button style=" cursor: pointer; height: 40px; padding: 6px 12px; color: rgb(255, 255, 255); font-size: 14px; line-height: 1.42857; border: none; border-radius: 4px; background-color: rgb(0, 175, 239); outline: none;margin-top:20px;margin-left:320px" type="submit">Cập nhật</button>
    </form>
</div>
