@model List<BookStore.Models.Entities.Order>

@{
    ViewBag.Title = "ManagementOders";
    Layout = "~/Views/User/_LayOut_User.cshtml";
}

<div style="font-size: 19px; line-height: 21px; font-weight: 350; margin: 15px 0px 15px;">Đơn hàng của tôi</div>

<div>
    <table>
        <thead>
            <tr>
                <th style="width:122px">Mã đơn hàng</th>
                <th style="width:80px">Ngày mua</th>
                <th style="width:350px">Sản phẩm</th>
                <th >Tổng tiền</th>
                <th style="width:170px">Trạng thái đơn hàng</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count > 0 || Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td><a  style="color: #007bff" href="/User/ViewOrderDetail?idOrder=@item.ID">@item.ID</a></td>
                        <td>@BookStore.Utils.SupportFuntions.formatDateTime(item.CreateDate)</td>
                        @if (item.OrderDetails.Count != 1)
                        {
                            <td>@item.OrderDetails.First().Book.Title...và @(item.OrderDetails.Count-1) đầu sách khác</td>
                        }
                        else
                        {
                            <td>@item.OrderDetails.First().Book.Title  </td>
                        }
                        <td>@BookStore.Utils.SupportFuntions.formatMoney(item.TotalPrice)</td>
                        @if (item.OrderStatus == 0)
                        {
                            <td>Đang giao hàng</td>
                        }
                        else
                        {
                            <td>Giao hàng thành công</td>
                        }
                    </tr>
                }
            }
            else
            {

            }
            
        </tbody>
    </table>
</div>

