@model BookStore.Models.Entities.Book

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-bg-white padding-top-15">
    <div class="container">
        <div class="details-product padding-bottom-10">
            <div class="product-bottom row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="relative product-image-block">

                        <div class="slider-big-video clearfix margin-bottom-10">
                            <div class="slider slider-for slick-initialized slick-slider">

                                <div aria-live="polite" class="slick-list draggable">
                                    <div class="slick-track" role="listbox" style="opacity: 1; width: 360px;">
                                        <img src="@Model.Images.First().Url" alt="@Model.Title" class="img-responsive mx-auto d-block" style="opacity: 1;">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="slider-has-video clearfix">
                            <div class="slider slider-nav slick-initialized slick-slider">

                                <div aria-live="polite" class="slick-list draggable">
                                    <div class="slick-track" role="listbox" style="opacity: 1; width: 83px; transform: translate3d(0px, 0px, 0px);">
                                        <div class="fixs slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide20" style="width: 73px;">
                                            <img class="lazy loaded" src="@Model.Images.First().Url" alt="@Model.Title" data-was-processed="true">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 col-12 details-pro">
                    <div class="product-top clearfix">
                        <h1 class="title-head">@Model.Title</h1>
                        <hr />
                        <div class="sku-product clearfix">
                            <div class="item-sku">
                                <span class="item-title">Nhà xuất bản:</span>
                                <span class="variant-sku" itemprop="sku" content="LMNBO">@Model.Publisher.Name</span>
                            </div>
                            <div class="item-sku">
                                <span class="item-title">Tác giả:</span>
                                <span class="vendor">
                                    @Model.Author.Name
                                </span>
                            </div>
                            <div class="item-sku">
                                <span class="item-title">Hình thức:</span>
                                <span class="vendor">
                                    @Model.Type.Name
                                </span>
                            </div>
                            <div class="item-sku">
                                <span class="item-title">Ngôn ngữ:</span>
                                <span class="vendor">
                                    @Model.Language.Name
                                </span>
                            </div>
                        </div>

                    </div>
                    <div>
                        <div class="inventory_quantity">
                            <span class="stock-brand-title">Thể loại:</span>
                            <span class="a-stock a1">@Model.Category.Name</span>
                        </div>

                        <div class="price-box clearfix margin-bottom-10">
                            <span class="special-price">
                                <span class="price product-price">@String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0}", (double)Model.Price)đ</span>
                            </span> <!-- Giá Khuyến mại -->
                            <span class="old-price" ">
                                Giá thị trường:
                                <del class="price product-price-old">
                                    @String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0}", (double)Model.Price * 1.1)đ
                                </del>

                            </span> <!-- Giás gốc -->
                            <span class="save-price">
                                Tiết kiệm:
                                <span class="price product-price-save"> @String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0}", (double)Model.Price * 1.1 - (double)Model.Price)đ</span>
                            </span> <!-- Tiết kiệm -->

                        </div>

                    </div>
                    <div class="form-product">
                        <form enctype="multipart/form-data" id="add-to-cart-form" action="/Home/Detail" method="get" class="clearfix form-inline has-validation-callback">
                            <input name="idBook" hidden value="@Model.ID" />
                            <div class="clearfix form-group ">
                                <div class="qty-ant clearfix custom-btn-number">
                                    @*<label class="d-none">Số lượng:</label>*@
                                    <div class="custom custom-btn-numbers form-control">
                                        <button onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN(qty) &amp; qty > 1 ) result.value--;return false;" class="btn-minus btn-cts" type="button">–</button>
                                        <input type="text" class="qty input-text" id="qty" name="quantity" size="4" value="1" maxlength="3">
                                        <input name="id" hidden value="@Model.ID" />
                                        <button onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN(qty)) result.value++;return false;" class="btn-plus btn-cts" type="button">+</button>
                                    </div>
                                </div>
                                <div class="btn-mua">
                                    <button type="submit" onclick="addToCart(@Model.ID)" data-role="addtocart"   class="btn btn-lg btn-gray btn-cart btn_buy add_to_cart">Thêm vào giỏ</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-12 d-none d-lg-block">
                    <div class="evo-may-be-like">
                        <h3><a href="san-pham-noi-bat" title="Có thể bạn quan tâm">Có thể bạn quan tâm</a></h3>
                        <div class="evo-may-be-like-list clearfix ">

                            @foreach (var book in ViewBag.RecommendBook)
                            {
                                <div class="list-bestsell-item clearfix">

                                    <div class="product-image">
                                        <a href="/Home/Detail?id=@book.ID" title="book.Title">

                                            <img class="lazy loaded" src="@book.Page" data-src="" alt="@book.Title" data-was-processed="true">
                                        </a>
                                    </div>
                                    <div class="product-meta">
                                        <div class="names"><a class="line-clamp" href="/Home/Detail?id=@book.ID" title="Totto-Chan Bên Cửa Sổ">@book.Title</a></div>
                                        <div class="product-price-and-shipping">


                                            <span class="price">@String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0}", (double)book.Price)đ</span>

                                            <span class="regular-price">@String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0}", (double)book.Price * 1.1)đ</span>



                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div style="background-color:whitesmoke;border-top: 1px solid #f5f5f5;">
    <div class="container product-gray">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="evo-tab-details-product">
                    <div class="product-tab e-tabs evo-tab-product-mobile">
                        <ul class="tabs tabs-title clearfix d-none d-sm-flex">
                            <li class="tab-link current" data-tab="tab-1"><span>Mô tả</span></li>
                        </ul>

                        <div id="tab-1" class="tab-content active current">
                            <a class="evo-product-tabs-header d-sm-block d-md-none d-lg-none">
                                <span>Mô tả</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="5.658" height="9.903" viewBox="0 0 5.658 9.903">
                                    <path d="M5429 1331.94l4.451 4.451-4.451 4.452" stroke="#1c1c1c" stroke-linecap="round" fill="none" transform="translate(-5428.5 -1331.44)"></path>
                                </svg>
                            </a>
                            <div class="rte">
                                @Model.Description
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="evo-product-and-banner">


                    <div class="evo-product-banner">
                        <div class="row">
                            <div class="col-lg-12 col-md-6 col-sm-6 col-6">
                                <a href="#" title="Evo Fitness"><img src="//bizweb.dktcdn.net/100/386/441/themes/764408/assets/evo_block_product_3_image_1.jpg?1621496047879" class="img-responsive center-block lazy loaded"></a>
                            </div>
                            <div class="col-lg-12 col-md-6 col-sm-6 col-6">
                                <a href="#" title="Evo Fitness"><img src="//bizweb.dktcdn.net/100/386/441/themes/764408/assets/evo_block_product_4_image_1.jpg?1621496047879" class="img-responsive center-block lazy loaded"></a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


